<html ng-app="bpm">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>批量任务处理</title>
	<link href="../../build/common/base.css" rel="stylesheet">
	<script type="text/javascript" src="../../build/common/base.js"></script>
	<script type="text/javascript" src="../../build/common/gridList.js"></script>
	<script type="text/javascript" src="../../build/common/ngEdit.js"></script>
	<script type="text/javascript" src="../../assets/js/common/bpmForm/bpmService.js"></script>
	<script type="text/javascript" src="../../build/common/custForm.js"></script>
	<style media="print">.print-hidden{display:none}</style>


	<script type="text/javascript">
        // {"defId":"410781317607981057","taskId":"410871326876106753","instanceId":"410871326597185537","formType":"INNER","data":{"purchasePlan":{"handleDays":5,"approveResult":1,"planImportTime":"2019-09-01 22:55:17","ID":"410871326674518017"}},"action":"agree","nodeId":"UserTask1","opinion":"同意"}
		var TaskComplateController = ['$scope','baseService',function($scope,baseService){
			$scope.bpmInitParam = {"taskIds":$.getParam("taskIds")};
		}];
	</script>
</head>

	<body ng-controller="TaskComplateController">
		<div class="ibox-title print-hidden">
			<div bpm-buttons-batch></div>
		</div>
		<!--<div bpm-init-batch="bpmInitParam"></div>-->
		<div>
			<table ab-grid data-id-field="id" data-url="/bpm/task/listJson?id=123&taskIds={bpmInitParam.taskIds}">
				<thead>
					<tr>
						<th data-field="subject">流程标题</th>
						<th data-field="name">任务名称</th>
						<th data-field="assigneeNames">候选人</th>
						<th data-field="taskType" data-formatter="labelFormatter"
							data-value-style="NORMAL-普通-primary,SIGN-会签-info,SIGN_SOURCE-会签_父-info,ADD_SIGN-加签-info,TRANSFORMING-事项-warning,">类型</th>
						<th data-field="status" data-formatter="labelFormatter"
							data-value-style="NORMAL-普通-primary,SUSPEND-挂起-info,LOCK-锁定-warning,BACK-驳回-warning,DESIGNATE-指派-info,TURN-转办-info,AGENCY-代理-info,">状态</th>
						<th data-field="createTime" data-formatter=dateTimeFormatter data-sort-name="create_time_" data-sortable="true">任务创建时间</th>
						<th  data-formatter="innerHtmlFormatter" data-title="查看">
							<span>
								<div buttonAlias="test" ng-click="buttonClick(false,500,900)" 	class="btn btn-primary fa fa-navicon" style="font-size: 14px;">审批历史</div>
								<div buttonAlias="test2" ng-click="buttonClick(false,600,800)" 	class="btn btn-primary fa fa-image" style="font-size: 14px;">流程图</div>
							</span>
						</th>
					</tr>
				</thead>
			</table>
		</div>
	</body>
</html>