<html ng-app="app">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>流程任务</title>
	<link href="../../build/common/base.css" rel="stylesheet">
    <style>
        td {
            white-space: nowrap;
        }
    </style>
	<script type="text/javascript" src="../../build/common/base.js"></script>
	<script type="text/javascript" src="../../build/common/gridList.js"></script>
    <script type="text/javascript" src="../../build/common/ngEdit.js"></script>
    <!--<script type="text/javascript" src="../../assets/js/common/bpmForm/bpmService.js"></script>
	<script type="text/javascript" src="../../assets/js/common/tools/dialogCreator.js"></script>-->
</head>
<body>
<div ng-controller="taskListCtrl" class="panel-body" style="padding-bottom:0px;" ng-init="init()">
     <div class="panel panel-default search-panel">
         <div class="panel-heading" data-toggle="collapse" toggle="true" data-target="#formSearch" >查询条件</div>
         <div class="panel-body">
             <form id="searchForm" class="form-horizontal">
                 <div class="form-group">
                     <label class="control-label col-sm-1" for="t.subject_^VLK">流程标题</label>
                     <div class="col-sm-3">
                         <input type="text" class="form-control" id="t.subject_^VLK">
                     </div>
                     <label class="control-label col-sm-1" for="t.name_^VLK">任务名称</label>
                     <div class="col-sm-3">
                         <input type="text" class="form-control text_taskName" id="t.name_^VLK" style="display: none;" ng-model="taskName">
                         <select ng-model="taskName" ng-options="taskNode.name as taskNode.name for taskNode in taskNodes"  class="form-control">
                             <option value="">请选择</option>
                         </select>
                     </div>
                     <div class="col-sm-4" style="text-align:left;">
                     		<button type="button" style="margin-left: 30px" class="btn btn-primary fa-search">查询</button>
							<button type="button" style="margin-left: 30px" class="btn btn-primary fa-rotate-left">重置</button>
                     </div>
                 </div>
             </form>
         </div>
     </div>
    <div class="btn-group toolbar">
        <button class="btn btn-outline btn-primary" id="btn_batchHandle">批量处理</button>
    </div>
	<!--  <div class="btn-group toolbar">
          <button class="btn btn-outline btn-primary fa-remove">删除</button>
      </div> -->
      <table ab-grid data-id-field="id" data-url="/bpm/task/getTaskList">
          <thead>
          <tr>
              <th data-checkbox="true"></th>
              <th data-formatter="showButtons">管理</th>
              <th data-field="subject">流程标题</th>
              <th data-field="name">任务名称</th>
              <th data-field="assigneeNames">候选人</th>
              <th data-field="taskType" data-formatter="labelFormatter"
              			data-value-style="NORMAL-普通-primary,SIGN-会签-info,SIGN_SOURCE-会签_父-info,ADD_SIGN-加签-info,TRANSFORMING-事项-warning,">类型</th>
              <th data-field="status" data-formatter="labelFormatter"
              			data-value-style="NORMAL-普通-primary,SUSPEND-挂起-info,LOCK-锁定-warning,BACK-驳回-warning,DESIGNATE-指派-info,TURN-转办-info,AGENCY-代理-info,">状态</th>
              <th data-field="delayFlag" data-formatter="labelFormatter"
                  data-value-style="false-否-primary,true-是-danger,">是否延期</th>
              <th data-field="createTime" data-formatter=dateTimeFormatter data-sort-name="create_time_" data-sortable="true">任务创建时间</th>
              <th data-field="expectDealTime" data-formatter=dateTimeFormatter >任务截止时间</th>
          </tr>
          </thead>
      </table>
    </div>
</body>
<script type="text/javascript">
    var taskListApp = angular.module("app", [ 'base', 'baseDirective' ]);
    taskListApp.controller('taskListCtrl', [ '$scope', 'baseService', 'ArrayToolService', '$filter', function($scope, baseService, ArrayToolService) {
        $scope.ArrayTool = ArrayToolService;

        $scope.taskNodes = [];
        $scope.init = function() {
             $scope.data = angular.copy(window.passData);
             // 获取objName的对象信息
             var defer = baseService.get(__ctx + "/bpm/task/getTaskNames?type=1");
             $.getResultData(defer, function(data) {
                 for (var i = 0; i < data.data.length; i++) {
                     var item = data.data[i];
                     $scope.taskNodes.push({
                         name: item,
                         value: item
                     })
                 }
             });
        };

    } ]);
    $(function(){
        window.setTimeout(function(){
            if($.getParam("type")==='iview'){
                $("[opendialog]").attr("qtip","处理任务请移步只门户平台 （切换子系统）");
            }
        },1000);
        initEventBind();
    });
    function initEventBind() {
        $("button#btn_batchHandle").bind("click", function () {
            //  获取选中的记录
            var selectedObjs = $("[ab-grid]").bootstrapTable("getSelections");
            if (selectedObjs && selectedObjs.length) {
                if (validate4BatchHandle(selectedObjs)) {
                    var ids = selectedObjs.map(item => item.id).join(",");
                    var url = selectedObjs.length > 1 ? "bpm/task/batchTaskHandle.html?taskIds=" + ids : "bpm/task/taskComplete.html?taskId=" + ids;
                    var conf = {
                        title: "批量处理",
                        topOpen: true,
                        url: getProjectUrl(url),
                        width: "100%",
                        height: "100%"
                    };
                    $.Dialog.open(conf);
                }
            } else {
                $.Dialog.msg("请选择要处理的任务!");
            }
        });
    }

    function validate4BatchHandle(selectedObjs) {
        var defId = selectedObjs[0].defId;
        var nodeId = selectedObjs[0].nodeId;
        if (selectedObjs[0].delayFlag) {
            $.Dialog.msg("任务[" + selectedObjs[0].name + "]已延期，不能批量处理！");
            return false;
        }
        for (var i = 1; i < selectedObjs.length; i++) {
            if (defId !== selectedObjs[i].defId || nodeId !== selectedObjs[i].nodeId) {
                $.Dialog.msg("请选择相同类型的任务!");
                return false;
            }
            if (selectedObjs[i].delayFlag) {
                $.Dialog.msg("任务[" + selectedObjs[i].name + "]已延期，不能批量处理！");
                return false;
            }
        }
        return true;
    }

    function assignUser (taskId){
        CustUtil.openCustDialog("userSelector",function(arrData,innerWindow){
            var param = {userId:arrData[0].id,userName:arrData[0].name,taskId:taskId};

            $.post(__ctx+"/bpm/task/assignTask",param,function(responseText){
                var result	= eval('(' + responseText + ')');
                if (result.isOk) {
                    $.Toast.success('指派成功！', function() {
                        reloadGrid();
                    });
                } else {
                    $.Toast.error(result.msg);
                }
            })
            $.Dialog.close(innerWindow);
        },null,{ multiple : false})
    }

    function showButtons(value, row, index) {
        var title = (row.delayFlag ? "延期" : "处理") + "【" + row.subject + "】-【" + row.name + "】";
        if (row.delayFlag) {
            return "<span class=\"fa-calendar btn btn-outline btn-primary btn-sm\" openDialog=\"延期任务\"   qtip=\"延期处理\" top=\"true\" url=\"bpm/task/taskDelay.html?taskId=" + row.id + "\"></span>";
        } else {
            return "<span class=\"fa-user btn btn-outline btn-primary btn-sm\" top=\"true\" qtip=\"指派候选人\" onclick=\"assignUser('" + row.id + "')\"></span>\n" +
                (row.status === 'DESIGNATE' ? "<span class=\"fa-refresh btn btn-outline btn-primary btn-sm\" top=\"true\" qtip=\"取消指派\" sendAction=\"取消指派\" url=\"/bpm/task/unLock?taskId=" + row.id + "\"></span>\n" : "") +
            "<span  class=\"fa-check-circle btn btn-outline btn-primary btn-sm\" openDialog=\"" + title + "\"  top=\"true\" qtip=\"处理\" url=\"bpm/task/taskComplete.html?taskId=" + row.id + "\"></span>";
        }
    }
</script>
</html>