<html ng-app="app">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>我的待办</title>
	<link href="../../build/common/base.css" rel="stylesheet">
	<script type="text/javascript" src="../../build/common/base.js"></script>
	<script type="text/javascript" src="../../build/common/gridList.js"></script>
    <script type="text/javascript" src="../../build/common/ngEdit.js"></script>
    <script type="text/javascript" src="../../assets/js/common/bpmForm/bpmService.js"></script>
    <script type="text/javascript" src="../../assets/js/common/tools/dialogCreator.js"></script>
    <script>
        var taskListApp = angular.module("app", [ 'base', 'baseDirective' ]);
        taskListApp.controller('taskListCtrl', [ '$scope', 'baseService', 'ArrayToolService', '$filter', function($scope, baseService, ArrayToolService) {
            $scope.ArrayTool = ArrayToolService;
            $scope.taskNodes = [];
            $scope.init = function() {
                $scope.data = angular.copy(window.passData);
                // 获取objName的对象信息
                var defer = baseService.get(__ctx + "/bpm/task/getTaskNames?type=2");
                $.getResultData(defer, function(data) {
                    for (var i = 0; i < data.data.length; i++) {
                        var item = data.data[i];
                        $scope.taskNodes.push({
                            name: item,
                            value: item
                        })
                    }
                });
            };

        } ]);
        $(function(){
            initEventBind();
        });
        function initEventBind() {
            $("button#btn_batchHandle").bind("click", function () {
                //  获取选中的记录
                var selectedObjs = $("[ab-grid]").bootstrapTable("getSelections");
                if (selectedObjs && selectedObjs.length) {
                    if (isSelectedSameNode(selectedObjs)) {
                        var ids = selectedObjs.map(item => item.id).join(",");
                        var url = selectedObjs.length > 1 ? "bpm/task/batchTaskHandle.html?taskIds=" + ids : "bpm/task/taskComplete.html?taskId=" + ids;
                        var conf = {
                            title: "批量处理",
                            topOpen: true,
                            url: dialogHelper__.getProjectUrl(url),
                            width: "100%",
                            height: "100%"
                        };
                        $.Dialog.open(conf);
                    } else {
                        $.Dialog.msg("请选择相同类型的任务!");
                    }
                } else {
                    $.Dialog.msg("请选择要处理的任务!");
                }
            });
        }

        function isSelectedSameNode(selectedObjs) {
            var defId = selectedObjs[0].defId;
            var nodeId = selectedObjs[0].nodeId;
            for (var i = 1; i < selectedObjs.length; i++) {
                if (defId !== selectedObjs[i].defId || nodeId !== selectedObjs[i].nodeId) {
                    return false;
                }
            }
            return true;
        }
    </script>
</head>
<body>
<div class="panel-body" style="padding-bottom:0px;" ng-controller="taskListCtrl" ng-init="init()">
     <div class="panel panel-default search-panel">
         <div class="panel-heading" data-toggle="collapse" toggle="true" data-target="#formSearch" >查询条件</div>
         <div class="panel-body">
             <form id="searchForm" class="form-horizontal">
                 <div class="form-group">
                     <label class="control-label col-sm-1" for="subject_^VLK">流程标题</label>
                     <div class="col-sm-3">
                         <input type="text" class="form-control" id="subject_^VLK">
                     </div>
                     <label class="control-label col-sm-1" for="name_^VLK">任务名字</label>
                     <div class="col-sm-3">
                         <input type="text" class="form-control" id="name_^VLK" style="display: none;" ng-model="taskName">
                         <select ng-model="taskName" ng-options="taskNode.name as taskNode.name for taskNode in taskNodes"  class="form-control">
                             <option value="">请选择</option>
                         </select>
                     </div>
                     <div class="col-sm-4" style="text-align:left;">
                     		<button type="button" style="margin-left: 50px" class="btn btn-primary fa-search">查询</button>
							<button type="button" style="margin-left: 50px" class="btn btn-primary fa-rotate-left">重置</button>
                     </div>
                 </div>
             </form>
         </div>
     </div>
    <div class="btn-group toolbar">
        <button class="btn btn-outline btn-primary" id="btn_batchHandle">批量处理</button>
    </div>
      <table ab-grid data-id-field="id" data-url="/bpm/my/todoTaskList">
          <thead>
          <tr>
              <th data-checkbox="true">ID</th>
              <th data-field="subject">流程标题</th>
              <th data-field="name">任务名称</th>
              <th data-field="taskType" data-formatter="labelFormatter" 
              			data-value-style="NORMAL-普通-primary,SIGN-会签-info,SIGN_SOURCE-会签_父-info,TRANSFORMING-事项-warning,TURN-转办-info,DELIVERTO-转办-warning,AGENCY-代理-info,">类型</th>
              <th data-field="status" data-formatter="labelFormatter" 
              			data-value-style="NORMAL-普通-primary,SUSPEND-挂起-info,LOCK-锁定-warning,BACK-驳回-warning,DESIGNATE-指派-info,">状态</th>
              <th data-field="createTime" data-formatter=dateTimeFormatter data-sort-name="create_time_" data-sortable="true">任务创建时间</th>
              <th data-formatter="innerHtmlFormatter" data-title="管理">
					<span class="fa-check-square-o btn btn-outline btn-primary btn-sm" openDialog="处理任务【{subject}】-【{name}】"   qtip="办理" top="true" url="bpm/task/taskComplete.html?taskId={id}"></span>
                    <span class="fa-send btn btn-outline btn-primary btn-sm" openDialog="延期任务【{subject}】-【{name}】"   qtip="延期" top="true" url="bpm/task/taskDelay.html?taskId={id}"></span>
              </th>
          </tr>
          </thead>
      </table>
    </div>
</body>
</html>